<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Data</title>
</head>
<body>
    <h1>Submitted Data</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Team Name</th>
            <th>Team Number</th>
            <th>Gender</th>
            <th>Project Name</th>
            <th>Age</th>
            <th>Architecture</th>
        </tr>
        <tr>
            <td><%= formData.name %></td>
            <td><%= formData.email %></td>
            <td><%= formData.team_name %></td>
            <td><%= formData.Team_number %></td>
            <td><%= formData.gender %></td>
            <td><%= formData.Project_Name %></td>
            <td><%= formData.age %></td>
            <td><%= formData.architecture %></td>
        </tr>
    </table>
</body>
</html>
